
/* -------------------------------Section Page d'Acceuil------------- */


body {
     margin: 0;
	 padding: 0;
	
}

section.acceuil {
	
	
	width: 100% ;
	height:500px;
	
	padding: 0;
	display: flex;
	flex-direction: column;
	margin-top: 5%;
	}

	.fond{ /*----c est pour limage du fond ---------*/
		background-image: url("../images/dog-bg.jpg");
		width: 100%;
		height: 100%;
		background-position: top center;
		background-size: contain,cover;
	   
		background-repeat: no-repeat;
	
		
		}


/*-------------------section slogon ------------------------*/

section.acceuil div.texte-slogan {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: space-around;
	margin-left: 2%;
}

section.acceuil div.texte-slogan h1 {
	font-family: cursive;
	font-size: 50px;
	letter-spacing: 0.1rem;
	color: #3B322C;
	
}

section.acceuil div.texte-slogan h1 span {
	color: #4E342E ;
	font-style: italic;
}

section.acceuil div.texte-slogan li {
	list-style-type: none;
}

section.acceuil div.texte-slogan li:hover {
	transform: scale(1.1);
}

section.acceuil div.texte-slogan li a {
	text-decoration: none;
}

section.acceuil div.texte-slogan li a h3 {
	border: 1px solid  #4E342E;
	border-radius: 15px;
	width: 180px;
	padding-right: 20px; 
	padding-left: 20px;
	letter-spacing: 0.1rem;
	text-align: center;

	color: #4E342E;
}

/*-------------- Section Top de Page (Header) -----------------------*/
section.acceuil div.top-de-page {
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	
	
}

/* ---------------Section Logo du Site ---------------------*/ 
div.top-de-page div.logo-img img {

}

/*------------ Section Barre de menu de Navigation ------------*/
section.acceuil div.top-de-page div.img-login li {

	list-style-type: none;
	border: 1px solid #3B322C;
	border-radius: 59%;
	width: 45px;
	height: 45px;
	
}

section.acceuil div.top-de-page div.img-login li:hover {
	transform: scale(1.1);
}

section.acceuil div.top-de-page div.img-login li img {
	border-radius: 48%;
}

section.acceuil div.top-de-page div.menu-nav ul {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	
}

section.acceuil div.top-de-page div.menu-nav ul li.btn {
	list-style-type: none;
	display: inline-block;
	margin-left: 70px;
}

section.acceuil div.top-de-page div.menu-nav ul li.btn:hover {
	transform: scale(1.1);
}

section.acceuil div.top-de-page div.menu-nav ul li.btn a {
	text-decoration: none;
	font-size: 15px;
	letter-spacing: 0.1rem;
	color: #4E342E;
}

section.acceuil div.top-de-page div.menu-nav ul li.btn a:hover {
	color: #795548  ;
}

/*------------------- Section login et signin ----------------------- */
body.body {
	background-color: ;
}

section.content header img {
	border-radius: 48%;
}

div#content header img {
	border-radius: 48%;
}

section.content {
	width: 20%;
	background-color: ;
	border: 1px solid ;
	border-radius: 20%;
	
}

section.content ul li.btn {
	list-style-type: none;
}

section.content ul li.btn:hover {
	transform: scale(1.1);
}

section.content ul li.btn a {
 	text-decoration: none;
 	font-size: 30px;
	letter-spacing: 0.1rem;
	color: ;  
}

section.content form ul li.btn {
	list-style-type: none;
}

section.content form ul li.btn:hover {
	transform: scale(1.1);
}

section.content form ul li.btn a {
	text-decoration: none;
	font-size: 15px;
	letter-spacing: 0.1rem;
	color:;
}

section.content form input {
	width: 80%;
	background-color: ;
	font-size: 18px;
	border: none;
	outline: none;
	border-bottom: 1px solid ;  
	text-align: center;
	letter-spacing: 0.1rem;
	color: ;
}

section.content form input[type="submit"] {
	width: 35%;
	background-color: ; 
	border-radius: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px;
}

section.content form input[type="submit"]:hover {
	transform: scale(1.1);
}

section.content div.texte-signin h1 {
	letter-spacing: 0.1rem;
	font-size: 30px;
	color: ;
}

